[Unit]
Description=Light laptop activity logging
After=graphical-session.target

[Service]
ExecStart=/usr/local/bin/lapmon -o /var/log -ss 30 -wi 30
Restart=always
WorkingDirectory=/usr/local/bin 
StandardOutput=journal
StandardError=journal
Environment=DISPLAY=:0
Environment=XAUTHORITY=%h/.Xauthority

[Install]
WantedBy=default.target
